  body{
    color: white;
    background-color: #262c3a;
    margin: 0;
  }

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
  }

  #mainContainer-index{
    width: 750px;
  }

  #mainContainer-music{
    width: 750px;
  }


  #conDis{
    margin: auto;
    padding-left: 0;
    width: 800px;
    text-align: center;
  }
  .lead{
    font-weight: bolder
  }
  
  #continueButton{
    margin: auto;
    margin-top: 15px;
    height: 40px;
    width: 50%;

  }

  #headerr{
    background: transparent;
    padding-bottom: 0;
  }
  .container{
    background: transparent;
    padding-left: 0;
  }
  
  .title{
    font-family: 'Rubik Mono One', sans-serif;
  }

  #emotionOutput{
    color: #b4eefc;
  }

  .memeButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #appInfo{
    margin: 0;
    padding: 0;
  }

  #startOverButton{
    display: flex;
    flex-direction: column;
    background-color: #b4eefc;
    margin-top: 10px;
  }
  .media{
    border: 1px solid green;
    width: 800px;
  }

  #video {
      border: 1px solid black;
      box-shadow: 2px 2px 3px black;
      width:500px;
    }
    
    #selfie {
      border: 1px solid black;
      box-shadow: 2px 2px 3px black;
    }

    #retakeTxt{
      text-align: center;
      border: 1px solid;
      margin: auto;
      font-size: 30px;
      margin-left: 30px;
    }
    
    #canvas {
      display:none;
    }
    
    .camera {
      width: 500px;
      height: 378px;;
      display:inline-block;
    }
    
    .output {
      width: 500px;
      display:inline-block;
    }
    
    #startbutton {
      display:flex;
      position:relative;
      /* margin-left:auto; */
      /* margin-right:auto; */
      margin: auto;
      bottom:32px;
      background-color: rgba(0, 150, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.7);
      box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-family: "Lucida Grande", "Arial", sans-serif;
      color: rgba(255, 255, 255, 1.0);
    }
    
    .contentarea {
      display: flex;
      font-size: 16px;
      font-family: "Lucida Grande", "Arial", sans-serif;
      width: 760px;
    }

    #mediaId{
      border: 1px solid;
      text-align: center;
      width: 500px;
    }